:root {
    --color1: rgb(100, 100, 100);
    --color2: rgb(250, 250, 240);
    --color3: rgb(10, 10, 10);
    --colorBG1: rgb(250, 250, 250);
    --colorBG2: rgb(248, 135, 6);
    --colorBG3: rgb(255, 255, 255);
    --boxShadow1: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

:root[theme="dark"] {
    --color1: rgb(250, 250, 250);
    --color2: rgb(250, 250, 240);
    --color3: rgb(240, 240, 240);
    --colorBG1: rgb(100, 100, 100);
    --colorBG2: rgb(248, 135, 6);
    --colorBG3: rgb(120, 120, 120);
    --boxShadow1: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    
    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

body {
    background-color: var(--colorBG3);
    color: var(--color3) !important;
}

.color1 {
    color: var(--color1);
    fill: var(--color1);
}

.color2 {
    color: var(--color2);
    fill: var(--color2);
}

.backgroundColor1 {
    background-color: var(--colorBG1);
}

.backgroundColor2 {
    background-color: var(--colorBG2);
}

/* LOADER */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--colorBG2);
    border-color: var(--colorBG2) transparent var(--colorBG2) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading[open] {
    opacity: 1;
    visibility: visible;
}

#loading {
    width: 100vw;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.25s, visibility 0.25s, display 0.25s ease allow-discrete;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    background-color: rgba(150,150,150, 0.5);
    backdrop-filter: blur(3px);
}

.preload {
    overflow: hidden;
}

/* TABLE */
table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--boxShadow1);
}

table * {
    border: none !important;
}

table tr:nth-child(even) {
    background-color: var(--colorBG1);
}

/* OTHERS */
.dialog[open] {
    width: 400px;
    background-color: var(--colorBG1);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: var(--boxShadow1);
    color: var(--color3);
}

/* Remove border when an element is focused */
* {
    border: none;
    outline: none;
}